.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
}

.movieCard {
  width: calc((100% - (3 * 24px)) / 4);
}

.posterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
